#about_section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
}

#pose {
    transition: .5s ease;
}

#pose {
    height: 100%;
    width: 50%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px white);
}

#pose:hover {
    filter: drop-shadow(0px 0px 30px white);
}

#about_section blockquote {
    width: 40%;
    height: 100%;
    line-height: 2;
    font-size: 16px;
    white-space: pre-line;
    overflow: auto;
    font-family: monospace;
}

#about_section blockquote::-webkit-scrollbar {
    background: transparent !important;
}

#about_section blockquote::-webkit-scrollbar-thumb {
    background: transparent !important;
}

@media (max-width:700px) {
    #about_section {
        height: auto;
    }

    #about_section img {
        display: none;
    }

    #about_section blockquote {
        width: 100% !important;
    }
}