#headline_section {
    display: flex;
    height: 100%;
    width: 100%;
    background: #000;


}

#headline_section section {
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    transition: .25s cubic-bezier(0, 1.24, 0.65, 0.81);
    cursor: pointer;
}

#headline_section section:hover {
    width: 40%;
}

#headline_section section video {
    height: 100%;
}

.full {
    width: 100% !important;
}

.hide {
    width: 0 !important;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 30px;
    font-weight: 700;
    color: white;
}

.poster1 {
    background: #ffa9b8;
}

.poster2 {
    background: #00ff95;
}

.poster3 {
    background: #007eff;
}

.poster .content {
    display: none;
}

.side_poster {
    width: 40% !important;
    background: linear-gradient(to right, black, black, transparent) !important;
    padding-top: 30px !important;
    justify-content: start !important;
    padding-left: 20px;
    z-index: 1;
}

.side_poster .content {
    display: block !important;
}

.side_poster .content p {
    max-width: 30ch;
}

.side_poster .content .link_btn {
    text-align: center;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background: orange;
    color: white;

    font-size: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

}